<%- include ('./partials/_header') %>
<nav class="navbar navbar-dark bg-dark mb-4">
    <a href="/" class="navbar-brand">Email</a>
</nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST">
                            <form action="/ms.email/%= messages._id %" method="POST"></form>
                            <div class="form-group">
                                <p class="text-capitalize " autofocus >Nombre</p>
                                <input class="form-control" type="text" name="nombre" placeholder="" value="">
                            </div>

                            <div class="form-group">
                                <p class="text-capitalize" autofocus >Correo</p>
                                <input type="text" name="email" placeholder="Email" class="form-control">
                            </div>

                            <div class="form-group">
                                <p class="text-capitalize" autofocus >Mensaje</p>
                                <select name="" id="<%= messages.Mensaje %>">
                                    <% for(var i=0; i < messages.length; i++) { %>  
                                          <option value=""><strong><%= messages[i].Mensaje %></strong></option>                                  
                                    <% } %> 
                                </select>
                                
                            </div>

                            <button class="btn btn-primary btn-block">
                                Enviar
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>