<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localizacion </h4>
                <p class="lead mb-0">
                    Pedro rodrigo hau pech
                    <br />
                    Cancun Qroo...
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">redes Sociales </h4>
                <p class="lead mb-0">
                    Facebook "Rodrigo hau"
                    WhatsApp "9981452313"
                </p>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Universidad</h4>
                <p class="lead mb-0">
                    Universidad tecnologica de cancun quintana roo
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
